<%-include("./partials/header") %>
    <%-include("./partials/nav") %>

        <div class="w-full h-[100vh] flex flex-col gap-10 items-center justify-center bg-zink-800 px-30">
            <h1 class="text-4xl border-b border-black py-3 font-semibold">REGISTER NOW</h1>
            <div class="flex items-center justify-center gap-10">
                <form action="/register" method="post">

                    <div class="md:w-[30vw] bg-white py-6 rounded-md px-10 shadow-md">
                        <div class="space-y-4 mt-6">
                            <div class="w-full flex">
                                <input name="fullname" type="text" placeholder="fullname"
                                    class="w-full px-4 py-2 bg-gray-50" />
                            </div>
                            <div class="w-full">
                                <input name="username" type="text" placeholder="username"
                                    class="w-full px-4 py-2 bg-gray-50" />
                            </div>
                            <div class="w-full">
                                <input name="email" type="text" placeholder="email"
                                    class="w-full px-4 py-2 bg-gray-50" />
                            </div>
                            <div class="w-full">
                                <input name="phone" type="number" placeholder="Mobile Number"
                                    class="w-full px-4 py-2 bg-gray-50" />
                            </div>
                            <div class="w-full">
                               <select name="role" class="w-full px-4 py-2 bg-gray-50">

                                <option value="">Select Role</option>
                                <option value="admin">Admin</option>
                                <option value="user">User</option>

                               </select>
                            </div>
                            <div class="w-full">
                                <input name="password" type="password" placeholder="password"
                                    class="w-full px-4 py-2 bg-gray-50" />
                            </div>
                        </div>
                        <button
                            class="w-full mt-5 bg-indigo-600 text-white py-2 rounded-md font-semibold tracking-tight mb-3">Register</button>
                        <p>Alrady have an account - <a class="text-blue-500" href="/login">Login</a></p>
                    </div>

                </form>
            </div>
        </div>

        <%-include("./partials/footer") %>